<div class="w-50 border border-secondary border-1 p-4 m-auto   bg-dark">
    <h3 class="display-6 p-3 mb-2 bg-secondary text-white">
      Project : <%= project.name %>
    </h3>
    <h4 class="display-7 p-3 mb-2 bg-secondary text-light">
      Author : <%= project.author %>
    </h4>
    <h5 class="display-7 p-3 mb-2 bg-secondary text-light">
      Description : <%= project.description %>
    </h5>
  </div>
  <%-include('./partials/_issue'); %>