<nav class="navbar navbar-expand-sm bg-dark">
    <div class="container-fluid">

      <a class="navbar-brand ms-4 text-white" href="/" style="font-weight:bolder "> 
        Issue-Tracker </a>
      
      <% if( title === "Project Page"){ %> <%- include('_issue_form'); %> <%
      }
      else{ %> <%- include('_project_form'); %> <% } %>
      
    </div>
  </nav>